<div class="row">

    <div class="col-12"  >

        <div class="card" style="width: 18rem;">

            
            <div class="card-body">
                <h2 class="card-title">{{localidad.id}}</h2>
                <ul class="card-text"></ul>
                <li>Status:{{localidad.name}} </li>
                <li>Specie:{{localidad.dimension}} </li>
                <li>Gender:{{localidad.residents}} </li>
                <li>Date:{{localidad.created | date:'short'}} </li>



            </div>
        </div>

    </div>
    
</div>